body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

#back-link {
    font-size: 20px
}

table {
    border-spacing: 1px;
    width: 100%;
}

tr, th {
    border: 2px solid black;
    padding: 5px;
}

td {
    border: 1px solid black;
    padding: 0;
}

textarea {
    width: 99%;
}

button[id^=add_shippment] {
    background-color: #4CAF50; /* Green */
    border-color: #4C8050;
    border-radius: 8px;
    color: white;
    padding: 0px 6px;
    text-align: center;
    font-size: 30px;
}

button[id^=get_shipment_status_btn] {
    background-color: #4CAF50; /* Green */
    border-color: #4C8050;
    border-radius: 8px;
    color: white;
    padding: 0px 6px;
    text-align: center;
    font-size: 15px;
}

button[id^=get_rejection_status_btn] {
    background-color: #4CAF50; /* Green */
    border-color: #4C8050;
    border-radius: 8px;
    color: white;
    padding: 0px 6px;
    text-align: center;
    font-size: 15px;
}

p.success {
    color: #4CAF50;
    font-size: 20px;
}

p.failure {
    color: #FF2020;
    font-size: 20px;
}

textarea.response_body {
    font-size: 16px;
}